<launch>
  <node name="barcode_finder" pkg="barcode_finder" type="barcode_finder" output="screen">
    <param name="bar_model_file" type="str" value="/home/amaldo/dm_marker_samples/horiz_bar/bar-model.shm"/>
    <!--param name="internal_param_file" type="str" value="/home/amaldo/dm_marker_samples/12mp/new_small_calib.cal"/>
    <param name="external_param_file" type="str" value="/home/amaldo/dm_marker_samples/12mp/new_calib_pose.dat"/-->
    <param name="internal_param_file" type="str" value="/home/arrina/.ros/camera_info/halcon_flir/arrina_flir_12mp_20190108.cal"/>
    <param name="external_param_file" type="str" value="/home/arrina/.ros/camera_info/halcon_flir/arrina_flir_12mp_20190108.dat"/>
    <remap from="/refills_wrist_camera/image_mono" to="/arrina_wrist_camera/image_mono"/> 
  </node>
</launch>
